@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,500;1,300&display=swap');


:root{
    --pink1:#facdca;
    --pink2:#fedfda;
    --pink3:#e897a6;
    --pink4:#ffa9b9;
    --pink5:#ff94a8;
    --white:#f0f5fb;
    --w50:50%;
    --w20:20%;
    --w33:33.33%;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Rubik';
}

::-webkit-scrollbar{
    display:none;
}
body{
    background-color:var(--white);
}

/*Classes auxiliares*/

.clear{clear:both;}

.center{
    max-width: 1280px;
    margin: 0 auto;
    padding:0 2%;
}

.visible{
    display:block;
}

.hidden{
    display:none;
}
/*-------------------------------*/

/* Menu */
header{
    background:var(--pink3);
    padding:5px;
    border-bottom:2px solid black;
}

header > .center{
    display:flex;
    padding:3px 0;
    flex-wrap: wrap;
}


.logo{
    width:var(--w50);
    text-align:center;
   
}
a{
    color:var(--white);
    text-decoration:none;
}
.logo a{
    font-size:1.5rem;
}

.menu-desktop{
    width:var(--w50);
    
}

.menu-desktop ul{
    list-style-type:none;
    text-align:right;

}

.menu-desktop li{
    padding:5px 0;
    display:inline-block;
    margin:0 10px;
   
}

.menu-desktop li a{
    font-size:1.1rem;
}

.menu-desktop a:hover{
    color:black;
    transition:2s;
}

.menu-mobile{
    display:none;
}
/*-----------------------*/

/*Galeria*/
.gallery{
    width:100%;
    background-color:var(--pink2);
    padding:20px
   
}

.center h1{
    text-align:center;
    color:var(--pink5);
    margin-bottom:10px;

}
.gallery-img{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    text-align:center;
    background-color:var(--pink3);
    border-radius:20px;
    border:2px solid white;
    position:relative;
    padding:20px;   
   
}
.img-wrap{
    width:10%;
    margin:0 5px;
}
.img-item{
    border:1px solid black;
    padding-bottom:100px;
    margin:2px;
}

.img-item:hover{
    transform:scale(1.2);
    transition:1s;
}
.bg-img{
    background-size:cover;
    background-position:center;
    
   
}

.buttons{
    position:absolute;
    width:100%;
    color:white;
    left:0;
    top:50%;

}
div.buttons > span{
    background-color:black;
    padding:5px;
    border-radius:50%;
    text-align:center;
}
div.buttons > .left{
    float:left;
    left:-3%;
    position:relative;
}
div.buttons > .right{
    float:right;
    transform:translateY(-8%);
    position:relative;
    left:3%;
}

i.fa-circle-down{
    position:relative;
    top:-17px;
    left:50%;
    font-size:22px;
    cursor:pointer;
    
}

/*Cardápio*/
section.cardapio{
    background-color:var(white);
    padding:30px;
}

section.cardapio > .center > h1{

    background:rgb(58, 55, 55);
    width:50%;
    margin:0 auto;
    padding:2px;
    border-radius:20px;

   
}



.box-cardapio{
    display:flex;
    flex-wrap:wrap;
}
.w33{
    width:32%;
    display:flex;
    flex-wrap:wrap;
    margin-top:10px;
    margin-left:1%;
    text-align:center;
    border:1px solid black;
    border-radius:20px;
}

.w33 h2{
    width:100%;
    color:var(--pink3);
    text-align:center;
}
.w33 .cardapio-wrap{
    width:100%;
    margin:0 auto;
    padding:20px;
    background:#e897a6;
   
}
.w33 img{
max-width:50%;

border:2px solid black;
}

.btn-switch{
   color:black;
   background:var(--pink1);
   width:50%;
   margin:0 auto;
   padding:5px;
   border-radius:20px;
   
}

.fa-arrow-left{
    float:left;
    cursor:pointer;
}

.fa-arrow-left:hover{
   color:white;
   transition:0.5s;
}
.fa-arrow-right{
float:right;
cursor:pointer;
}


.fa-arrow-right:hover{
    color:white;
    transition:0.5s;
}

.fa-circle-notch:hover{
    color:white;
    transition:0.5s;
}
.w33 ul{
    width:100%;
    list-style-type:none;
    background:green;
}
.w33 ul li{
    display:inline-block;
   
}

.w33 a{
    color:black;
    width:100%;
    display:block;
}

.w33 a:hover{
    transition:1s;
   transform:scale(1.1);
}
.infoTitle{
    color:black;
    display:none;
}
.info{
    color:white;
    margin-bottom:2px;
    font-size:15px;
   display:none;
}
/**/

/*------------------------------*/






@media screen and (max-width:1024px){
    .gallery-img{
        justify-content:center;
    }
    .img-wrap{
        width:30%;
        margin:0;
      
    }
    
}



@media screen and (max-width:780px){
    .menu-desktop{
        display:none;
    }

    .menu-mobile{
        display:block;
        width:var(--w50);
        text-align:right;
        
    }
    .menu-mobile i{
        position:relative;
        padding:6px;
        color:var(--white);
        
    }
    .menu-mobile ul{
        background:var(--pink1);
        position:absolute;
        width:100%;
        top:46px;
        left:0;
        background:var(--pink4);
        z-index:3;
        padding:5px;
        border-bottom:1px solid white;
    }

    .menu-mobile li{
        text-align:center;
        margin:8px 0;
        padding: 2px 0;
        border:1px solid white;
        width:98%;
        border-radius:10px;
       background-color:var(--pink3)
    }

    .menu-mobile li:hover{
        background:#f3b2bef3;
        transition:1s;
    }
    .menu-mobile li:hover > a{
        color:black;
        transition:1s;
    }
    
    .gallery-img{
        justify-content:center;
    }
    .w33{
     width:100%;
     margin:2%;  

    }

    


    
}


