@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,500;1,300&display=swap');


:root{
    --pink1:#facdca;
    --pink2:#fedfda;
    --pink3:#e897a6;
    --pink4:#ffa9b9;
    --pink5:#ff94a8;
    --white:#f0f5fb;
    --w50:50%;
    --w20:20%;
    --w33:33.33%;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Rubik';
}

html,body{
    height:100%;
}

::-webkit-scrollbar{
    display:none;
}
body{
    background-color:var(--white);
}

/*Classes auxiliares*/

.clear{clear:both;}

.center{
    max-width: 1280px;
    margin: 0 auto;
    padding:0 2%;
}

.visible{
    display:block;
}

.hidden{
    display:none;
}
.w25{
    width:25%
}

.w30{
    width:30%
}
.w45{
    width:49.6%;
}
.w50{
    width:50%;
}
.w70{
    width:70%;
}
.w75{
    width:75%;
}

.w100{
    width:100%;
}

/*-------------------------------*/

/* Menu */
header{
    background:var(--pink3);
    padding:5px;
    border-bottom:2px solid black;
}

header > .center{
    display:flex;
    padding:3px 0;
    flex-wrap: wrap;
}


.logo{
    width:var(--w50);
    text-align:center;
   
}
a{
    color:var(--white);
    text-decoration:none;
}
.logo a{
    font-size:1.5rem;
}

.menu-desktop{
    width:var(--w50);
    
}

.menu-desktop ul{
    list-style-type:none;
    text-align:right;

}

.menu-desktop li{
    padding:5px 0;
    display:inline-block;
    margin:0 10px;
   
}

.menu-desktop li a{
    font-size:1.1rem;
}

.menu-desktop a:hover{
    color:black;
    transition:2s;
}

.menu-mobile{
    display:none;
}
/*-----------------------*/

/*Galeria*/
.gallery{
    width:100%;
    background-color:var(--pink2);
    padding:20px
   
}

.center h1{
    text-align:center;
    color:var(--pink5);
    margin-bottom:10px;

}
.gallery-img{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    text-align:center;
    background-color:var(--pink3);
    border-radius:20px;
    border:2px solid white;
    position:relative;
    padding:20px;   
   
}
.img-wrap{
    width:10%;
    margin:0 5px;
}
.img-item{
    border:1px solid black;
    padding-bottom:100px;
    margin:2px;
}

.img-item:hover{
    transform:scale(1.2);
    transition:1s;
}
.bg-img{
    background-size:cover;
    background-position:center;
    
   
}

.buttons{
    position:absolute;
    width:100%;
    color:white;
    left:0;
    top:50%;

}
div.buttons > span{
    background-color:black;
    padding:5px;
    border-radius:50%;
    text-align:center;
}
div.buttons > .left{
    float:left;
    left:-3%;
    position:relative;
}
div.buttons > .right{
    float:right;
    transform:translateY(-8%);
    position:relative;
    left:3%;
}

i.fa-circle-down{
    position:relative;
    top:-17px;
    left:50%;
    font-size:22px;
    cursor:pointer;
    
}

/*Cardápio*/
section.cardapio{
    background-color:var(white);
    padding:30px;
}

section.cardapio > .center > h1{

    background:rgb(58, 55, 55);
    width:50%;
    margin:0 auto;
    padding:2px;
    border-radius:20px;

   
}



.box-cardapio{
    display:flex;
    flex-wrap:wrap;
}
.w33{
    width:32%;
    display:flex;
    flex-wrap:wrap;
    margin-top:10px;
    margin-left:1%;
    text-align:center;
    border:1px solid black;
    border-radius:20px;
}

.w33 h2{
    width:100%;
    color:var(--pink3);
    text-align:center;
}
.w33 .cardapio-wrap{
    width:100%;
    margin:0 auto;
    padding:20px;
    background:#e897a6;
   
}
.w33 img{
max-width:50%;

border:2px solid black;
}

.btn-switch{
   color:black;
   background:var(--pink1);
   width:50%;
   margin:0 auto;
   padding:5px;
   border-radius:20px;
   
}

.fa-arrow-left{
    float:left;
    cursor:pointer;
}

.fa-arrow-left:hover{
   color:white;
   transition:0.5s;
}
.fa-arrow-right{
float:right;
cursor:pointer;
}


.fa-arrow-right:hover{
    color:white;
    transition:0.5s;
}

.fa-circle-notch:hover{
    color:white;
    transition:0.5s;
}
.w33 ul{
    width:100%;
    list-style-type:none;
    background:green;
}
.w33 ul li{
    display:inline-block;
   
}

.w33 a{
    color:black;
    width:100%;
    display:block;
}

.w33 a:hover{
    transition:1s;
   transform:scale(1.1);
}
.infoTitle{
    color:black;
    display:none;
}
.info{
    color:white;
    margin-bottom:2px;
    font-size:15px;
   display:none;
}
/**/

/*------------------------------*/






/*Footers*/
.footerSocial{
    background:#ff94a8;
    padding:3px;
    width:100%;
    border-top:1px solid black;
}


.footerBox{
    padding:20px;
    display:flex;
    flex-wrap:wrap;
    width:100%;
}

.formGroup{
    padding:5px;
    border:2px solid black;
    border-radius:20px;
}

.formGroup > h4{
    color:#f14564;
    margin-bottom:10px;
    text-align:center;
    background:black;
    border-radius:10px
}




input[type="text"], input[type="email"]{
    padding:6px;
    margin-top:2px;
    margin-bottom:4px;
    outline:none;
    border:2px solid black;
    border-radius:20px;
}

textarea{
    resize:vertical;
padding:5px;
margin:5px 0px;;
border:2px solid black;
border-radius:20px;
outline:none;
}

input[type=submit]{
    background:var(--pink1);
    border: 2px solid black;
    padding:5px;
    border-radius:20px;
   cursor:pointer;
}
input[type=text]:focus,input[type=email]:focus{
    border:2px solid rgba(125,125,125, 0.8);
    transition:1s;
}

input[type=submit]:hover{
    background-color:#d3b2b0;
    transition:1s;
    color:white;
}

.footerMedia{
    padding:5px 20px;
    border:2px solid black;
    margin-left:3px;
    border-radius:20px;
}

.footerMedia >  h4{
    color:#f14564;
    margin-bottom:10px;
    text-align:center;
    background:black;
    border-radius:10px
}

.social-item{
    display:flex;
    vertical-align: middle;
}
.social-item > a{
    font-size:30px;
    margin:0;
}

.social-item > span{
    color:black;
    font-size:15px;
    margin-top:6px;
    margin-left:5px;
}
.social-item > #zap{
    margin-top:8px;
}

.social-item > a:hover{
    color:black;
    transition:1s;
    transform:scale(1.1);
}



.social-item > a:hover + span{
    color:#fdfdfd;
    transition:1s;
    transform:scale(1.0);
}


.footerDireitos{
 background:#fdb9c5;
 padding:5px;
 text-align:center;
 border:1px solid black;
}
.footerDireitos > h1{
    display:inline-block;
    color:#f14564;
    margin:4px 5px;
    font-weight:normal;
    font-style:italic;
    font-size:20px;
}
/*---------*/

/*Página de Cardápio*/

.parallaxImg{
    width:100%;
    height:200px;
    background-image:url("../img/doce.jpg");
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
    position:relative;
}

.shadow{
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
}

.parallaxImg > h4{
    position:absolute;
    top:50%;
    left:44%;
    transform:tranlate(-50%,-50%);
    font-size:1.6rem;
    color:rgb(231, 219, 219);
    text-transform:uppercase;
}

.grid-box{
    width:100%;
    display:grid;
    gap:10px;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:1fr;    
    padding: 20px 2%;
    background:var(--white);
    position:relative;
}

.flex-cont{
    display:flex;
    flex-wrap:wrap;
    width:100%;
    padding:5px;
    border:0;
    background:rgb(241, 238, 238);
    border-radius:10px;
    border:1px solid black;
}

.flex-cont > summary{
    font-size:20px;
    text-transform:uppercase;
    text-align:center;
    margin:2px;
    color:#666061;
    font-weight:bold;
    letter-spacing:2px;
}

.img-cart{
    
    background-size:cover;
    background-position:center;
  padding:20%;
  border-radius:20px;
}
.imgOne{
    background-image:url('./img/trufa1.png');
}
.imgTwo{
    background-image:url('./img/ovos1.png')
}
.imgThree{
    background-image:url('./img/cone.png');
}
.flex-cont > form{
    padding:10px;
    text-align:center;
}

.flex-cont > form > label{
    font-size:14px;
    color:rgb(77,77,77);
    margin-right:5%;
    font-style:italic;
}
.flex-cont > form > input[type=radio]{
   accent-color:rgb(184, 26, 86);
}

.flex-cont > form > .btn-box> input[type=submit]{
    width:100%;
    background-color:rgb(61, 212, 61);
    
}

.btn-box{
    position:relative;
    margin-top:6px;
}

.flex-cont > form > .btn-box> i{
    color:white;
    position:absolute;
    top:20%;
    left:45%;
    cursor:pointer;
}


.flex-cont > form > .btn-box > i:hover {
    color:black;
    transition:1s;
}

.flex-cont > form > .btn-box > i:hover +  input[type=submit]{
    background-color:rgb(37, 185, 37);
    transition:1s;
}

.lt{
    position:absolute;
    font-size:20px;
    top:50%;
    left:0.3%;
    color:#f14564;
    background-color:rgb(238, 238, 238);
    padding:5px;
    border-radius:20px;
}
.rg{
    position:absolute;
    font-size:20px;
    right:0.3%;
    top:50%;
    color:#f14564;
    background-color:rgb(238, 238, 238);
    padding:5px;
    border-radius:20px;
}












@media screen and (max-width:1024px){
    .gallery-img{
        justify-content:center;
    }
    .img-wrap{
        width:30%;
        margin:0;
      
    }

    .formGroup > input[type=text], input[type=email]{
        width:100%;
    }
    .social-item > a{

        margin:2px 0 ;
    }
    .social-item >  span{
        margin-top:10px;
    }
    .social-item > #zap{
        margin-top:10px;
    }
    
    .grid-box{
        grid-template-columns:1fr;
        grid-template-rows:1fr;    
    }
    .flex-cont > form > .btn-box> i{
        top:20%;
        left:48%;
    }
}



@media screen and (max-width:825px){
    .menu-desktop{
        display:none;
    }

    .menu-mobile{
        display:block;
        width:var(--w50);
        text-align:right;
        
    }
    .menu-mobile i{
        position:relative;
        padding:6px;
        color:var(--white);
        
    }
    .menu-mobile ul{
        background:var(--pink1);
        position:absolute;
        width:100%;
        top:46px;
        left:0;
        background:var(--pink4);
        z-index:3;
        padding:5px;
        border-bottom:1px solid white;
    }

    .menu-mobile li{
        text-align:center;
        margin:8px 0;
        padding: 2px 0;
        border:1px solid white;
        width:98%;
        border-radius:10px;
       background-color:var(--pink3)
    }

    .menu-mobile li:hover{
        background:#f3b2bef3;
        transition:1s;
    }
    .menu-mobile li:hover > a{
        color:black;
        transition:1s;
    }
    
    .gallery-img{
        justify-content:center;
    }
    .w33{
     width:100%;
     margin:2%;  

    }



    .formGroup{
        width:100%;
        margin-bottom:10px;
    }

    .footerMedia{
        display:flex;
        flex-wrap:wrap;
        width:100%; 
        justify-content:flex-end;

    }
    .footerMedia > .social-item {
        width:40%;
        margin:10px;
    }

    .social-item > span {
        font-size:12px;
    }
    

    .parallaxImg > h4{
        position:absolute;
        top:50%;
        left:41.5%;
        transform:tranlate(-50%,-50%);
        font-size:1.6rem;
        color:rgb(231, 219, 219);
        text-transform:uppercase;
    }
    

    
    

}



@media screen and (max-width:420px){
    .footerMedia{
        text-align:center;
        

    }
    .footerMedia > .social-item {
        width:100%;
    }
    .flex-cont> form{
        text-align:left;
        display:block;
    }
    
    
    .parallaxImg > h4{
      
        top:50%;
        left:33%;
        transform:tranlate(-50%,-50%);
    }
    .lt{
        top:50%;
        left:0.3%;
    }
    .rg{
        
        right:0.3%;
        top:50%;
    }
}